@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
  font-family: "Dosis";
  text-decoration: none !important;
  color: black;
}

@media (min-width: 1200px) {
  .container{
      max-width: 800px;
  }
}


.App {
  border: 1px solid black;
}

.box {
  padding: 3px;
}

.card {
  border: none;
}

.card-subtitle {
  color: darkgray;
  font-size: small;
}